Repository chriscantu/platform-eng-leader-claude-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: pii-scanner, strategic-data-validator, test-runner, critical-linting-validator

Path conditions:
  pii-scanner: any of: \.(py|json|yaml|yml|env|sh|txt)$, but not: ^(docs/|guides/|framework/.*\.md|README\.md|.*\.example)$
  strategic-data-validator: any of: \.(json|md|yaml|yml)$, but not: ^(docs/|guides/|framework/templates/).*\.md$
  test-runner: any of: \.(py|toml|yaml|yml|cfg|ini)$, but not: ^(docs/|guides/|framework/.*\.md|README\.md)$
  critical-linting-validator: any of: \.py$

docs: Add intelligent hooks demonstration and usage guide
  INTELLIGENT_HOOKS_DEMO.md
Due: strategic-data-validator

refactor: Convert bash setup scripts to Python for consistency
  INTELLIGENT_HOOKS_DEMO.md
  MEETING_INTELLIGENCE_GUIDE.md
  demo-meeting-intelligence.py
  memory/enhanced_schema.sql
  memory/meeting_intelligence.py
  memory/workspace_monitor.py
  setup-smart-git.sh
  setup_meeting_intelligence.py
  setup_smart_git.py
Due: pii-scanner, strategic-data-validator, test-runner, critical-linting-validator

docs: Update README with Meeting Intelligence and Python-first infrastructure
  README.md
Due: strategic-data-validator

fix: Update import path in workspace_monitor.py for proper module resolution
  memory/workspace_monitor.py
Due: pii-scanner, test-runner, critical-linting-validator

Rebrand framework as ClaudeDirector
  README.md
Due: strategic-data-validator

Add Procore meeting prep document to .gitignore
  .gitignore
Due: none

docs: Dramatically simplify README for faster user onboarding
  README.md
  README_OLD.md
Due: strategic-data-validator

fix: Update repository references from old name to claudedirector
  CURSOR_SETUP.md
  README.md
  README_OLD.md
Due: strategic-data-validator

docs: Restructure README to prioritize strategic AI usage over development
  README.md
Due: strategic-data-validator

feat: Add comprehensive stakeholder engagement management system
  daily_stakeholder_alerts.py
  memory/stakeholder_engagement_engine.py
  memory/stakeholder_engagement_schema.sql
  setup_stakeholder_management.py
  stakeholder_manager.py
Due: pii-scanner, test-runner, critical-linting-validator

feat: Add local AI-powered intelligent stakeholder detection system
  memory/intelligent_stakeholder_detector.py
  memory/local_stakeholder_ai.py
  memory/workspace_monitor.py
  stakeholder_ai_manager.py
Due: pii-scanner, test-runner, critical-linting-validator

feat: Add comprehensive strategic task tracking system with AI detection
  daily_task_alerts.py
  memory/intelligent_task_detector.py
  memory/task_tracking_schema.sql
  setup_task_tracking.py
  strategic_task_manager.py
Due: pii-scanner, test-runner, critical-linting-validator

refactor: Major script and documentation architecture cleanup
  README.md
  README_OLD.md
  bin/stakeholder_ai_manager.py
  bin/stakeholder_manager.py
  bin/strategic_task_manager.py
  claudedirector
  docs/README.md
  docs/features/intelligent-git-hooks.md
  docs/features/meeting-intelligence.md
  docs/ide/CURSOR_CONTEXT.md
  docs/ide/CURSOR_SETUP.md
  scripts/daily/daily_stakeholder_alerts.py
  scripts/daily/daily_task_alerts.py
  scripts/demo-meeting-intelligence.py
  scripts/setup/setup_meeting_intelligence.py
  scripts/setup/setup_smart_git.py
  scripts/setup/setup_stakeholder_management.py
  scripts/setup/setup_task_tracking.py
Due: pii-scanner, strategic-data-validator, test-runner, critical-linting-validator

feat: Phase 1 - Foundation architecture with zero-downtime migration
  MIGRATION_GUIDE.md
  claudedirector_pkg/README.md
  claudedirector_pkg/claudedirector/__init__.py
  claudedirector_pkg/claudedirector/cli.py
  claudedirector_pkg/claudedirector/core/__init__.py
  claudedirector_pkg/claudedirector/core/config.py
  claudedirector_pkg/claudedirector/core/database.py
  claudedirector_pkg/claudedirector/core/exceptions.py
  claudedirector_pkg/claudedirector/intelligence/__init__.py
  claudedirector_pkg/claudedirector/intelligence/meeting.py
  claudedirector_pkg/claudedirector/intelligence/stakeholder.py
  claudedirector_pkg/claudedirector/intelligence/task.py
  claudedirector_pkg/pyproject.toml
Due: pii-scanner, strategic-data-validator, test-runner, critical-linting-validator

refactor: Standardize library structure - claudedirector_pkg → lib/
  claudedirector_pkg/README.md
  claudedirector_pkg/claudedirector/__init__.py
  claudedirector_pkg/claudedirector/benchmark.py
  claudedirector_pkg/claudedirector/cli.py
  claudedirector_pkg/claudedirector/core/__init__.py
  claudedirector_pkg/claudedirector/core/config.py
  claudedirector_pkg/claudedirector/core/database.py
  claudedirector_pkg/claudedirector/core/exceptions.py
  claudedirector_pkg/claudedirector/intelligence/__init__.py
  claudedirector_pkg/claudedirector/intelligence/meeting.py
  claudedirector_pkg/claudedirector/intelligence/stakeholder.py
  claudedirector_pkg/claudedirector/intelligence/task.py
  claudedirector_pkg/claudedirector/utils/__init__.py
  claudedirector_pkg/claudedirector/utils/cache.py
  claudedirector_pkg/claudedirector/utils/memory.py
  claudedirector_pkg/claudedirector/utils/parallel.py
  claudedirector_pkg/pyproject.toml
Due: pii-scanner, strategic-data-validator, test-runner, critical-linting-validator
